<h2>Ad List</h2>

<section class="ftco-section bg-light">
    <div class="container">
        <div *ngFor="let ad of ads" class="row">
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated">
                <div class="block-7">
                    <div class="img" style="background-image: url(https://via.placeholder.com/350x280/FFB6C1/000000);"></div>
                    <div class="text-center p-4">
                        <span class="excerpt d-block">{{ad.name}}</span>
                        <span class="price"><sup>$</sup> <span class="number">{{ad.price}}</span></span>
                        <ul class="pricing-text mb-5">
                            <li><span class="fa fa-check mr-2"></span>{{ad.numberOfBedrooms}} Bedrooms</li>
                            <li><span class="fa fa-check mr-2"></span>{{ad.numberOfBathrooms}} Bathrooms</li>
                            <li><span class="fa fa-check mr-2"></span>{{ad.numberOfGarageSpaces}} Garage Spaces</li>
                            <li><span class="fa fa-check mr-2"></span>{{ad.landSize}} ft<sup>2</sup></li>
                        </ul>
                        <a (click)="adDetails(ad.id)" class="btn btn-primary d-block px-2 py-3">Go to Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>