<h2 class="text-center">Ad List</h2>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div *ngFor="let ad of ads" class="row">
        <div class="col-md-8" >
            <div class="wp-block property list">
                <div class="wp-block-title">
                    <h3><a>{{ad.address}}</a></h3>
                </div>
                <div class="wp-block-body">
                    <div class="wp-block-img">
                        <a (click)="adDetails(ad.id)">
                            <img src="https://via.placeholder.com/300x300/FFB6C1/000000" alt="">
                        </a>
                    </div>
                    <div class="wp-block-content">
                        <h4 class="content-title">{{ad.name}}</h4>
                        <p class="description">{{ad.description}}</p>
                        <span class="pull-left">
                            <span class="price">${{ad.price}}</span>
                        </span>
                        <br>
                        <button (click)="adDetails(ad.id)" class="btn btn-info"> Details</button>
                    </div>
                </div>
                <div class="wp-block-footer">
                    <ul class="aux-info">
                        <li><i class="fa fa-building"></i>{{ad.landSize}}<sup>2</sup> Feet</li>
                        <li><i class="fa fa-user"></i> {{ad.numberOfBedrooms}} Bedrooms</li>
                        <li><i class="fa fa-tint"></i> {{ad.numberOfBathrooms}} Bathrooms</li>
                        <li><i class="fa fa-car"></i> {{ad.numberOfGarageSpaces}} Garages</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>