<h3 class="text-center">Create Ad</h3>

<div class="col-md-8 offset-md-2">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <div class="container bootstrap snippets bootdey">
        <div class="jumbotron text-center" style="min-height:400px;height:auto;">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>
                                <h6 class="mb-0 font-13">Name</h6>
                            </label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="ad.name" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>
                                <h6 class="mb-0 font-13">Address</h6>
                            </label>
                            <input type="text" class="form-control" id="address" [(ngModel)]="ad.address"
                                name="address">
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>
                                    <h6 class="mb-0 font-13">Bedrooms</h6>
                                </label>
                                <input type="text" class="form-control" id="bedrooms" [(ngModel)]="ad.numberOfBedrooms"
                                    name="bedrooms">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 offset-sm-6">
                                <label>
                                    <h6 class="mb-0 font-13">Bathrooms</h6>
                                </label>
                                <input type="text" class="form-control" id="bathrooms"
                                    [(ngModel)]="ad.numberOfBathrooms" name="bathrooms">
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>
                                    <h6 class="mb-0 font-13">Garage Spaces</h6>
                                </label>
                                <input type="text" class="form-control" id="garageSpaces"
                                    [(ngModel)]="ad.numberOfGarageSpaces">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 offset-sm-6">
                                <label>
                                    <h6 class="mb-0 font-13">landSize</h6>
                                </label>
                                <input type="text" class="form-control" id="landSize" [(ngModel)]="ad.landSize"
                                    name="landSize">
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>
                                    <h6 class="mb-0 font-13">Price</h6>
                                </label>
                                <input type="text" class="form-control" id="price" [(ngModel)]="ad.price" name="price">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>
                                <h6 class="mb-0 font-13">description</h6>
                            </label>
                            <textarea type="text" class="form-control" id="description" [(ngModel)]="ad.description"
                                name="description">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                Create
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>