<h3>Ad Details</h3>

<div>
    <div>
        <label><b>Name:</b></label> {{ad.name}}
    </div>
    <div>
        <label><b>Land Size:</b></label> {{ad.landSize}}
    </div>
    <div>
        <label><b>Bedrooms:</b></label> {{ad.numberOfBedrooms}}
    </div>
    <div>
        <label><b>Bathrooms:</b></label> {{ad.numberOfBathrooms}}
    </div>
    <div>
        <label><b>Garage Spaces:</b></label> {{ad.numberOfGarageSpaces}}
    </div>
    <div>
        <label><b>Address:</b></label> {{ad.address}}
    </div>
    <div>
        <label><b>Price:</b></label> {{ad.price}}
    </div>
</div>